In [26]:
from pathlib import Path

import numpy as np
import pandas as pd

In [85]:
data = pd.read_csv("competencia2_2022.csv")
diccionario = pd.read_excel(Path("data", "DiccionarioDatos.ods"))

C:\Users\andre\AppData\Local\Temp\ipykernel_6416\2720073094.py:1: DtypeWarning: Columns (154) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("competencia2_2022.csv")

In [86]:
data

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,31115668,202101,1,0,0,56,132,1897.12,24324.75,940.32,...,4.0,0.0,-16247.77,0.00,3997.0,18435.59,1.0,0.0,1337.22,CONTINUA
1,31115678,202101,1,0,0,48,100,-384.72,33860.45,-515.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTINUA
2,31117415,202101,1,0,0,60,53,-3622.66,-21310.32,2442.04,...,4.0,0.0,-33430.50,0.00,1573.0,12033.40,4.0,0.0,20011.38,CONTINUA
3,31117711,202101,1,0,0,46,273,14542.05,125727.99,1037.77,...,4.0,0.0,-9832.94,14.27,2063.0,758.21,3.0,0.0,1302.03,CONTINUA
4,31118145,202101,1,0,0,47,192,1868.27,37305.29,1496.68,...,4.0,0.0,0.00,0.00,5842.0,6316.13,1.0,0.0,4680.27,CONTINUA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813208,213259882,202105,0,0,0,62,1,0.00,0.00,0.00,...,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,0.00,NaN
813209,213268725,202105,0,0,0,29,1,0.00,0.00,0.00,...,5.0,0.0,NaN,NaN,13.0,NaN,NaN,NaN,0.00,NaN
813210,213268755,202105,1,0,0,24,1,-61.67,-61.67,0.00,...,5.0,0.0,0.00,0.00,20.0,809.37,2.0,0.0,680.34,NaN
813211,213271755,202105,0,0,0,24,1,0.00,0.00,0.00,...,5.0,0.0,NaN,NaN,11.0,NaN,NaN,NaN,0.00,NaN
813212,213273561,202105,1,0,0,30,1,0.73,0.73,0.00,...,5.0,0.0,NaN,NaN,19.0,NaN,NaN,NaN,0.00,NaN

# Variables

* ``active_quarter (bool) (0 nulls)`` = Si el cliente ha realizado transacciones voluntarias en ultimo trimestre.
* ``cliente_vip (bool) (0 nulls)`` = Si el cliente es considerado vip o no 
* ``internet (bool) (0 nulls)`` = Si el cliente usa la APP
* `` cliente_edad (int) (0 nulls)`` = Edad
* `` cliente_antiguedad (int) (0 nulls)`` = Antiguedad en meses
* ``mrentabilidad (float) (0 nulls)`` = Ganancia total que ha obtenido el BANCO en pesos durante el mes. Probablemente conviene separar en dos columnas, es decir, Ganancia (valores positvos), Perdida (valores negativos)
* ``mrentabilidad_annual (float) (0 nulls)`` = Lo mismo que ``mrentabilidad``, pero anual.
* ``mcomisiones (float) (0 nulls)``=  Monto pesos TOTAL que ha ganado el banco con ese cliente por comisiones.
* ``mactivos_margen (float) (0 nulls)`` = Monto pesos TOTAL que ha ganado el banco por intereses cobrados al cliente. Posee negativos (por que?)
* ``mpasivos_margen (float) (0 nulls)`` = Monto pesos TOTAL que ha ganado el banco por inversiones/dinero del cliente.
* ``cproductos (int) (0 nulls)`` = Cantidad de productos que posee con el banco.
* ``tcuentas (int) (0 nulls)`` = Cantidad de cuentas que tiene 0 ninguna, 1 un ahorro o un cta corriente, 2 al menos una de ahorro y al menos una cta cte. En el dataset de la segunda competencia no hay ningun valor 0
* ``ccuenta_corriente (int) (0 nulls)`` = Cantidad de ctas ctes que tiene el cliente. En el dataset de la segunda competencia el minimo es 1 y maximo es 3.
* ``mcuenta_corriente_adicional (float) (0 nulls)`` = Monto total de las cuentas corrientes adicionales que no forman parte del paquete. Tiene valores negativos (por que?)
* ``mcuenta_corriente (float) (0 nulls)`` =  Monto total de las cuenta corriente del paquete premium. Tiene negativos, (Por que?).
* ``ccaja_ahorro (int) (0 nulls)``= Cantidad de cajas de ahorro que tiene el cliente. Min 2 Max 8.
* ``mcaja_ahorro (int) (0 nulls)`` = Monto total de la caja de ahorro del Paquete Premium. Tiene negativos (por que?).
* ``mcaja_ahorro_adicional (int) (0 nulls)`` = Monto total de las cajas otras cajas de ahorro que no forman parte del paquete.
* ``mcaja_ahorro_dolares (int) (0 nulls)`` = Monto total de las cajas de ahorro en dólares.  El valor esta expresado en pesos, y se considera el valor del dolar de cierre del último dia hábil del mes
* ``cdescubierto_preacordado (bool) (0 nulls) `` = Si tiene un acuerdo de descubierto. 
* ``mcuentas_saldo (float) (0 nulls)`` = Saldo total en todas las ctas.
* ``ctarjeta_debito (int) (0 nulls)`` = Cantidad de tjtas de debito. Min 0, Max 301 como?????
* ``ctarjeta_debito_transacciones (int) (0 nulls)`` = Cantidad de transacciones que hizo el cliente con su tarjeta de débito durante el mes.
* ``mautoservicio (float) (0 nulls)`` = Monto total de las transacciones que hizo el cliente con su tarjeta de débito duirante el mes. No tiene valores negativos.
* ``ctarjeta_visa (int) (0 nulls)`` = Cantidad de cuentas VISA que posee el cliente. Min 0 Max 3.
* ``ctarjeta_visa_transacciones (int) (0 nulls)`` = Cantidad de transacciones efectuadas durante el mes con la tarjeta de crédito VISA. Min 0 Max 803.
* `` mtarjeta_visa_consumo (float) (0 nulls)`` = Monto total de las transacciones con las VISAS
* ``ctarjeta_master (int) (0 nulls)`` = Cantidad de tarjetas Master Card. Min 0 Max 2
* ``ctarjeta_master_transacciones (int) (0 nulls)`` = Cantidad de transacciones con la MASTER CARD.
* ``mtarjeta_master_consumo (float) (0 nulls)`` = Monto total de los consumos efectuados durante el mes con la tarjeta de crédito MasterCard
* ``cprestamos_personales (int) (0 nulls)`` = Cantidad de prestamos que posee el cliente VIGENTES.
* ``mprestamos_personales (float) (0 nulls)`` = Monto de los prestamos que posee el cliente.
* ``cprestamos_prendarios (int) (0 nulls)`` = Cantidad de prestamos prendarios q posee cliente (que es prendario?).
* ``mprestamos_prendarios (float) (0 nulls)`` = Monto total de prestamos prendarios.
* ``cprestamos_hipotecarios (int) (0 nulls)`` = Cantidad de prestamos hipotecarios que posee el cliente.
* ``mprestamos_hipotecarios (float) (0 nulls)`` = Monto prestamos hipotecarios.
* ``cplazo_fijo (int) (0 nulls)`` = Cantidad de plazos fijos que posee el cliente.
* ``mplazo_fijo_dolares (float) (0 nulls)`` = Monto total de todos los plazos fijos vigentes el dólares.  El valor está convertido a pesos considerando el valor de cierre del ultimo dia habil del mes.
* ``mplazo_fijo_pesos (float) (0 nulls)``  = Monto plazos fijos en pesos.
* `` cinversion1 (int) (0 nulls)`` = Cantidad de inversiones tipo 1.
* ``minversion1_pesos (float) (0 nulls)`` = Monto inversion tipo 1.
* ``minversion1_dolares (float) (0 nulls)`` = Monto total de inversiones tipo1 en dolares , expresado en pesos al ultimo dia habil del mes.
* `` cinversion2 (int) (0 nulls)`` = Cantidad de inversiones tipo 2.
* ``minversion2 (float) (0 nulls)`` = Monto total de la inversión de tipo2  expresada en pesos.
* ``cseguro_vida (int) (0 nulls)`` = Cantidad de seguros de Vida.
* ``cseguro_auto (int) (0 nulls)`` = Cantidad de seguros de auto.
* ``cseguro_vivienda (int) (0 nulls)`` = Cantidad de seguros de vivienda.
* ``cseguro_accidentes_personales (int) (0 nulls)`` = Cantidad de seguros accidentes personales.
* ``ccaja_seguridad (int) (0 nulls)`` = Si tiene caja seguridad o no. El enunciado dice que es 0 o 1, pero en realidad Min 0 Max 6
* ``cpayroll_trx (int) (0 nulls)`` =  Cantidad de Acreditaciones de Haberes en relación de depencia que le hicieron al cliente en ese mes
* `` mpayroll (float) (0 nulls)`` = Monto total que le acreditaron los empleadores “acreditados”  al cliente durante el mes.
* ``cpayroll2_trx (int) (0 nulls)`` = Cantidad de transacciones de acreditacion de haberes en el mes
* ``ccuenta_debitos_automaticos (int) (0 nulls) `` = Cantidad de débitos automáticos debitados durante el mes en las cuentas  ( no tarjetas de crédito )
* `` mcuenta_debitos_automaticos (float) (0 nulls)`` = Monto de los debitos automaticos
* `` ctarjeta_visa_debitos_automaticos (int) (0 nulls) `` Cantidad de débitos automáticos debitados durante el mes en las tarjeta de crédito VISA
* `` mttarjeta_visa_debitos_automaticos (float) (0 nulls)`` Monto de los debitos automaticos a la VISA.
* `` ctarjeta_master_debitos_automaticos (int) (0 nulls)`` Cantidad de débitos automáticos debitados durante el mes en las tarjeta de crédito MasterCard
* `` mttarjeta_master_debitos_automaticos (float) (0 nulls)`` Monto de los debitos automáticos a la MASTERCARD.
* `` cpagodeservicios (int) (0 nulls)`` Cantidad de pagos de servicios.
* `` mpagodeservicios (float) (0 nulls) `` Monto de pagos de servicios.
* `` cpagomiscuentas (int) (0 nulls)`` Cantidad de pagos efectuados durante el mes por el canal PagoMisCuentas
* `` mpagomiscuentas (float) (0 nulls)`` Monto de pagos x PagoMisCuentas.
* `` ccajeros_propios_descuentos (int) (0 nulls)`` Cantidad de descuentos x usar la tarjeta de debido
* `` mcajeros_propios_descuentos (float) (0 nulls)`` Monto descuentos
* `` ctarjeta_visa_descuentos (int) (0 nulls)`` Cantidad de descuentos x usar VISA
* `` mtarjeta_visa_descuentos (float) (14064 nulls)`` Monto de los descuentos de VISA
* `` ctarjeta_master_descuentos (int) (0 nulls) `` Cantidad de dsctos x usar MASTERCARD
* `` mtarjeta_master_descuentos (float) (18000 nulls)`` Monto de los descuentos de MASTERCARD.
* `` ccomisiones_mantenimiento (float) (0 nulls)`` Cantidad de comisiones de mantenimiento
* `` mcomisiones_mantenimiento (float) (0 nulls)`` Monto de comisiones de mantenimiento. Tiene negativos PORQUE???
* `` ccomisiones_otras (int) (0 nulls)`` Cantidad de otras comisiones que se le cobraron al cliente
* `` mcomisiones_otras (float) (0 nulls)`` Monto de otras comisiones
* `` cforex (int) (0 nulls)`` Cantidad de cambios de moneda que realizo en el mes.
* `` cforex_buy (int) (0 nulls)`` Cantidad de compra de moneda que realizo.
* `` mforex_buy (float) (0 nulls)`` Monto total en compra de monedas
* `` cforex_sell (int) (0 nulls)`` Cantidad de venta de moneda que realizo en el mes
* `` mforex_sell (float) (0 nulls)`` Monto total de la venta de monedas.
* `` ctransferencias_recibidas (int) (0 nulls)`` Cantidad de transferencias recibidad durante en el mes
* `` mtransferencias_recibidas (float) (0 nulls)`` Monto de las transferencias recibidas.
* `` ctransferencias_emitidas (int) (0 nulls)`` Cantidad de transferencias emitidas durante en el mes
* `` mtransferencias_emitidas (float) (0 nulls)`` Monto de las transferencias emitidas.
* `` cextraccion_autoservicio (int) (0 nulls)`` Cantidad de extracciones de cajero automatico durante el mes.
* `` mextraccion_autoservicio (float) (0 nulls)`` Monto total de las extracciones.
* `` ccheques_depositados (int) (0 nulls)`` Cantidad de cheques depositados.
* `` mcheques_depositados (float) (0 nulls)`` Monto de cheques depositados.
* `` ccheques_emitidos (int) (0 nulls)`` Cantidad de cheques emitidos y cobrados.
* `` mcheques_emitidos (float) (0 nulls)`` Monto de cheques emitidos y cobrados.
* ``ccheques_depositados_rechazados (int) (0 nulls)`` Cantidad de cheques depositados rechazados.
* ``mcheques_depositados_rechazados (float) (0 nulls) `` Monto de los cheques depositados rechazados.
* ``ccheques_emitidos_rechazados (int) (0 nulls)`` Cantidad de cheques emitidos rechazados.
* ``mcheques_emitidos_rechazados (float) (0 nulls) `` Monto de los cheques emitidos rechazados.
* `` tcallcenter (bool) (0 nulls)`` Indica si el cliente esta adherido al canal telefonico o no.
* `` ccallcenter_transacciones (int) (0 nulls) `` Cantidad de transacciones que realizo el cliente x el canal telefonifco
* `` thomebanking (bool) (0 nulls)`` Indica si el cliente esta adherido al homebanking o no.
* `` chomebanking_transacciones (int) (0 nulls) `` Cantidad de transas x homebanking 
* `` ccajas_transacciones (int) (0 nulls)`` Cantidad de transas x CAJA
* `` ccajas_consultas (int) (0 nulls)`` Cantidad de consultas q realizo x CAJA.
* `` ccajas_depositos (int) (0 nulls)`` Cantidad de depositos x CAJA que realizo el cliente.
* `` ccajas_extracciones (int) (0 nulls)`` Cantidad de extracciones x CAJA que realizo el cliente.
* `` ccajas_otras (int) (0 nulls)`` Cantidad de otras tramites x CAJA que realizo el cliente.
* `` catm_trx (int) (0 nulls)`` Cantidad de transacciones que realizo el cliente en cajeros DEL BANCO
* `` matm (float) (0 nulls)`` Monto total en transacciones que realizo el cliente en cajeros DEL BANCO.
* `` catm_trx_other(int) (0 nulls)`` Cantidad de transacciones que realizo el cliente en cajeros DE OTRO BANCO.
* `` matm_other (float) (0 nulls) `` Monto de transacciones de OTRO BANCO.
* `` ctrx_quarter (int) (0 nulls) `` Cantidad de movimientos voluntarios en las cuentas bancarias ( no tarjeta de credito ) que el cliente realizó en los ultimos 90 dias
* `` tmobile_app (bool) (0 nulls)`` Si instalo o no la app mobile
* `` cmobile_app_trx (int) (0 nulls)`` Cantidad de transacciones con app mobile.
* `` Master_delinquency (bool) (84000 nulls)``  indica si el cliente no llegó a completar el pago mínimo y esta moroso
* `` Master_status (categoric/int) (84000 nulls)`` indica el estado de la cuenta de la tarjeta de crédito. 0 abierta,  6 en proceso de cierre, 7 en proceso avanzado de cierre, 9 cuenta cerrada.   Una cuenta cerrada puede volver a abrirse. TODO: Llevar a 0, 1, 2, 3
* `` Master_mfinanciacion_limite (float) ( 84000 nulls)`` Limite de tarjeta MASTER CARD
* `` Master_Fvencimiento (int) (84000 nulls)`` Días para la vecha de vencimiento de tarjeta
* `` Master_Finiciomora`` ELIMINAR ESTA VARIABLE 800K DE NULLOS APP 95% DEL DATASET
* `` Master_msaldototal (float) (84000 nulls)`` Saldo total de la MASTER CARD PARA ESTE MES.
* `` Master_msaldopesos (float) (84000)`` Saldo total de la MASTER CARD la parte de Pesos argentino
* `` Master_msaldodolares (float) (84000)`` Saldo total de la MASTER CARD la parte de Dolares
* `` Master_mconsumospesos`` ELIMINAR 500K DE NULOS
* `` Master_mconsumosdolares`` ELIMINAR 500K NULOS
* `` Master_mlimitecompra (float) (84000 nulls)`` Límite de compra con tarjeta MASTER CARD
* `` Master_madelantopesos`` ELIMINAR DEL DATASET 500K NULLS
* `` Master_madelantodolares`` ELIMINAR DEL DATASET 500K NULLS
* `` Master_fultimo_cierre (int) (87000 nulls)`` Dias desde del utlimo cierre de la tarjeta de crédito, contados a la fecha de la foto
* `` Master_mpagado (float) (84000 nulls)`` Monto total (?) de todos los pagos efectuados x cliente
* `` Master_mpagospesos`` Monto de lo de arriba, pero hay 500K DE NULLS?
* `` Master_mpagosdolares`` Lo mismo pero en dolares, pero hay 500K DE NULLS, eliminemos ambas dos
* `` Master_fechaalta`` Dias desde de alta de la cuenta de la tarjeta de crédito, contados a la fecha de la foto
* `` Master_mconsumototal `` Monto total expresado en pesos,  de todos los consumos ( pesos y dolares )  efectuados por el cliente durante ese mes 500K DE NULOS
* `` Master_cconsumos`` CANTIDA DE CONSUMOS REALIZADOS CON LA TARJETA ESE MES 500K NULLS
* `` Master_cadelantosefectivo`` 500 NULLS
* `` Master_mpagominimo (float) (84000 nulls) `` Monto pago mínimo para no ser moroso 
* `` Visa_delinquency (bool) (39000 nulls) `` indica si el cliente no llegó a completar el pago mínimo y esta moroso. Estos clientes NO pueden utilizar mas la tarjeta hasta tanto regularicen su situacion. ESTA COMO FLOTANTE, PASAR A 0 Y 1 COMO INT.
* `` Visa_status (categorica/int) (39000 nulls)``ndica el estado de la cuenta de la tarjeta de crédito. 0 abierta,  6 en proceso de cierre, 7 en proceso avanzado de cierre, 9 cuenta cerrada.   Una cuenta cerrada puede volver a abrirse. TRANSFORMAR A 0,1,2,3
* `` Visa_mfinanciacion_limite (FLOAT) (39000 NULLS)`` Límite de financiacion de la tarjeta de crédito, expresado en pesos.
* `` Visa_Fvencimiento (int) (39000)`` Días para que se venza la tarjeta
* `` Visa_Finiciomora`` 800K NULLS ELIMINAR
* `` Visa_msaldototal``  Saldo total de tarjeta VISA para ese mes
* `` Visa_msaldopesos 39000 NULLS`` Saldo total pesos
* `` Visa_msaldodolares`` Saldo total dolares
* `` Visa_mconsumospesos 100K NULLS`` Monto total de los consumos efectuados en pesos x el cliente
* `` Visa_mconsumospesos 100k NULLS`` Monto total de los consumos efectuados en DOLARES x el cliente
* `` Visa_mlimitecompra 39k NULLS`` Limite tarjeta VISA
* `` Visa_madelantopesos 100k nulls`` Extracciones de pesos realizadas con la tarjeta de crédito durante ese mes
* `` Visa_madelantodolares`` Extracciones de DOLARES realizadas con la tarjeta de crédito durante ese mes
* `` Visa_fultimo_cierre 39K NULLS`` Dias  del utlimo cierre de la tarjeta de crédito, contados a la fecha de la foto
* `` Visa_mpagado 39k NULLS`` Monto total de todos los pagos efectuados por el cliente
* `` Visa_mpagospesos 100k NULLS`` Monto total del consumo en pesos
* `` Visa_mpagosdolares 100K NULLS`` Monto total del consumo en dolares
* `` Visa_fechaalta 39k NULLS`` +Dias desde el alta de la cuenta de la tarjeta de crédito, contados a la fecha de la foto
* `` Visa_mconsumototal 100k NULLS`` Monto total pagado 
* `` Visa_cconsumos 100k NULLS`` CANTIDAD DE CONSUMOS CON LA VISA
* `` Visa_cadelantosefectivo  100k NULLS`` Cantidad de adelantos que realizo el cliente ese mes
* `` Visa_mpagominimo 39k NULLS`` Monto pago minimo para no ser moroso

# Variables con una cantidad mayor al 30% de valores nulos

In [87]:
N_RECORDS = len(data)

NULL_COLS = [
    col
    for col in data.columns
    if data[col].isnull().sum() > 0.3 * N_RECORDS
    if col != "clase_ternaria"
]

NULL_COLS

['Master_Finiciomora',
 'Master_mconsumospesos',
 'Master_mconsumosdolares',
 'Master_madelantopesos',
 'Master_madelantodolares',
 'Master_mpagospesos',
 'Master_mpagosdolares',
 'Master_mconsumototal',
 'Master_cconsumos',
 'Master_cadelantosefectivo',
 'Visa_Finiciomora']

In [88]:
# Eliminamos dichas variables
data = data.drop(columns=NULL_COLS)

In [89]:
data.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,31115668,202101,1,0,0,56,132,1897.12,24324.75,940.32,...,4.0,0.0,-16247.77,0.00,3997.0,18435.59,1.0,0.0,1337.22,CONTINUA
1,31115678,202101,1,0,0,48,100,-384.72,33860.45,-515.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTINUA
2,31117415,202101,1,0,0,60,53,-3622.66,-21310.32,2442.04,...,4.0,0.0,-33430.50,0.00,1573.0,12033.40,4.0,0.0,20011.38,CONTINUA
3,31117711,202101,1,0,0,46,273,14542.05,125727.99,1037.77,...,4.0,0.0,-9832.94,14.27,2063.0,758.21,3.0,0.0,1302.03,CONTINUA
4,31118145,202101,1,0,0,47,192,1868.27,37305.29,1496.68,...,4.0,0.0,0.00,0.00,5842.0,6316.13,1.0,0.0,4680.27,CONTINUA

# Unuseful columns

Eliminaremos columnas que a priori parecen inservibles

In [90]:
UNUSEFUL_COLUMNS = [
    "Visa_fultimo_cierre",
    "Visa_fechaalta",
    "Visa_Fvencimiento",
    "Master_fechaalta",
    "Master_fultimo_cierre",
    "Master_Fvencimiento",

]

data = data.drop(columns = UNUSEFUL_COLUMNS)

# Cantidad de acciones por caja

Es muy extraña dicha columna, se tienen 4 tipos de acciones en caja que son transacciones consultas, depositos y extracciones. Consolidaremos dichas columnas en una sola.

In [91]:
data[
    [
        "ccajas_transacciones",
        "ccajas_consultas",
        "ccajas_depositos",
        "ccajas_extracciones",
    ]
].max()

ccajas_transacciones     1
ccajas_consultas        45
ccajas_depositos        46
ccajas_extracciones     15
dtype: int64

In [92]:
# Agregamos acciones por caja en una sola columna
data["acciones_por_caja"] = (
    data["ccajas_transacciones"]
    + data["ccajas_consultas"]
    + data["ccajas_depositos"]
    + data["ccajas_extracciones"]
)

# Rentabilidad del banco

Las suma de las columnas ``mcomisiones``, ``mactivos_margen`` y ``mpasivos_margen`` parecen corresponderse con ``mrentabilidad``, que corresponde a la rentabilidad total del mes del banco por el cliente.

In [93]:
data[
    [
        "mrentabilidad",
        "mrentabilidad_annual",
        "mcomisiones",
        "mactivos_margen",
        "mpasivos_margen",
    ]
]

,mrentabilidad,mrentabilidad_annual,mcomisiones,mactivos_margen,mpasivos_margen
0,1897.12,24324.75,940.32,-490.67,1306.36
1,-384.72,33860.45,-515.53,-19.82,131.34
2,-3622.66,-21310.32,2442.04,-5747.04,576.78
3,14542.05,125727.99,1037.77,9338.64,2173.96
4,1868.27,37305.29,1496.68,-11.71,328.49
...,...,...,...,...,...
813208,0.00,0.00,0.00,0.00,0.00
813209,0.00,0.00,0.00,0.00,0.00
813210,-61.67,-61.67,0.00,-460.07,407.49
813211,0.00,0.00,0.00,0.00,0.00
813212,0.73,0.73,0.00,0.63,0.00

In [94]:
data

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria,acciones_por_caja
0,31115668,202101,1,0,0,56,132,1897.12,24324.75,940.32,...,0.0,0.0,-16247.77,0.00,18435.59,1.0,0.0,1337.22,CONTINUA,0
1,31115678,202101,1,0,0,48,100,-384.72,33860.45,-515.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTINUA,0
2,31117415,202101,1,0,0,60,53,-3622.66,-21310.32,2442.04,...,0.0,0.0,-33430.50,0.00,12033.40,4.0,0.0,20011.38,CONTINUA,0
3,31117711,202101,1,0,0,46,273,14542.05,125727.99,1037.77,...,0.0,0.0,-9832.94,14.27,758.21,3.0,0.0,1302.03,CONTINUA,2
4,31118145,202101,1,0,0,47,192,1868.27,37305.29,1496.68,...,0.0,0.0,0.00,0.00,6316.13,1.0,0.0,4680.27,CONTINUA,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813208,213259882,202105,0,0,0,62,1,0.00,0.00,0.00,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0
813209,213268725,202105,0,0,0,29,1,0.00,0.00,0.00,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0
813210,213268755,202105,1,0,0,24,1,-61.67,-61.67,0.00,...,0.0,0.0,0.00,0.00,809.37,2.0,0.0,680.34,NaN,0
813211,213271755,202105,0,0,0,24,1,0.00,0.00,0.00,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0
813212,213273561,202105,1,0,0,30,1,0.73,0.73,0.00,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0

Vamos a proyectar la ganancia anual para aquellos clientes que llevan menos de 1 año en el banco

In [95]:
# Simplemente proyectamos la rentabilidad mensual

data["mrentabilidad_annual"] = data[
    ["mrentabilidad_annual", "cliente_antiguedad", "mrentabilidad"]
].apply(
    lambda row: row["mrentabilidad_annual"]
    if row["cliente_antiguedad"] >= 12
    else row["mrentabilidad_annual"]
    + (12 - row["cliente_antiguedad"]) * row["mrentabilidad"],
    axis=1,
)

In [96]:
data.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria,acciones_por_caja
0,31115668,202101,1,0,0,56,132,1897.12,24324.75,940.32,...,0.0,0.0,-16247.77,0.00,18435.59,1.0,0.0,1337.22,CONTINUA,0
1,31115678,202101,1,0,0,48,100,-384.72,33860.45,-515.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTINUA,0
2,31117415,202101,1,0,0,60,53,-3622.66,-21310.32,2442.04,...,0.0,0.0,-33430.50,0.00,12033.40,4.0,0.0,20011.38,CONTINUA,0
3,31117711,202101,1,0,0,46,273,14542.05,125727.99,1037.77,...,0.0,0.0,-9832.94,14.27,758.21,3.0,0.0,1302.03,CONTINUA,2
4,31118145,202101,1,0,0,47,192,1868.27,37305.29,1496.68,...,0.0,0.0,0.00,0.00,6316.13,1.0,0.0,4680.27,CONTINUA,0

# Seguros

Todos los seguros los vamos a concatenar en una sola columna

In [97]:
data["cantidad_seguros"] = (
    data["cseguro_vida"]
    + data["cseguro_auto"]
    + data["cseguro_vivienda"]
    + data["cseguro_accidentes_personales"]
)

# Tarjetas de crédito VISA y Master CARD

In [98]:
data["cantidad_tarjetas_credito"] = (
    data["ctarjeta_visa"]
    + data["ctarjeta_master"]
)

data["mtarjeta_credito_consumo"] = (
    data["mtarjeta_visa_consumo"]
    + data["mtarjeta_master_consumo"]
)

data["ctarjeta_credito_transacciones"] = (
    data["ctarjeta_master_transacciones"]
    + data["ctarjeta_visa_transacciones"]
)

In [99]:
data.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria,acciones_por_caja,cantidad_seguros,cantidad_tarjetas_credito,mtarjeta_credito_consumo,ctarjeta_credito_transacciones
0,31115668,202101,1,0,0,56,132,1897.12,24324.75,940.32,...,18435.59,1.0,0.0,1337.22,CONTINUA,0,2,2,18435.59,1
1,31115678,202101,1,0,0,48,100,-384.72,33860.45,-515.53,...,NaN,NaN,NaN,NaN,CONTINUA,0,0,0,0.00,0
2,31117415,202101,1,0,0,60,53,-3622.66,-21310.32,2442.04,...,12033.40,4.0,0.0,20011.38,CONTINUA,0,0,2,28730.18,9
3,31117711,202101,1,0,0,46,273,14542.05,125727.99,1037.77,...,758.21,3.0,0.0,1302.03,CONTINUA,2,2,2,7713.08,4
4,31118145,202101,1,0,0,47,192,1868.27,37305.29,1496.68,...,6316.13,1.0,0.0,4680.27,CONTINUA,0,0,2,6323.25,1

# Cuentas

In [100]:
data[[
    "tcuentas",
    "ccuenta_corriente",
    "ccaja_ahorro",
    "mcuenta_corriente_adicional",
    "mcuenta_corriente",
    "mcaja_ahorro_adicional",
    "mcaja_ahorro_dolares",
    "mcaja_ahorro",
    "mcuentas_saldo",
]]

,tcuentas,ccuenta_corriente,ccaja_ahorro,mcuenta_corriente_adicional,mcuenta_corriente,mcaja_ahorro_adicional,mcaja_ahorro_dolares,mcaja_ahorro,mcuentas_saldo
0,1,1,2,0.0,0.00,0.0,0.00,85151.91,125822.25
1,1,1,2,0.0,0.00,0.0,0.00,9851.83,331.99
2,1,1,2,0.0,-90.03,0.0,0.00,11755.80,85698.96
3,1,1,2,0.0,0.00,0.0,122940.47,160517.29,258855.68
4,1,1,2,0.0,0.00,0.0,35.83,23043.96,10618.20
...,...,...,...,...,...,...,...,...,...
813208,2,1,2,0.0,0.00,0.0,0.00,0.00,0.00
813209,2,1,2,0.0,0.00,0.0,0.00,0.00,0.00
813210,2,1,2,0.0,0.00,0.0,0.00,0.00,0.00
813211,2,1,2,0.0,0.00,0.0,0.00,0.00,0.00
813212,1,1,2,0.0,-27.11,0.0,0.00,0.00,-44.25

 Eliminaremos la columna ``tcuentas`` pues dicha informacion es repetitiva con cuentas corrientes y cantidad de cajas de ahorros. Eliminaremos la columna ``mcuentas_saldo``, según lo escrito en el foro Zulip parece ser un campo no confiable.

Agruparemos todas las columnas de cantidad de cuentas en una sola, y montos en una sola también

In [101]:
data["ccuentas"] =  data["ccuenta_corriente"] + data["ccaja_ahorro"]

data["mcuentas"] = (
    data["mcuenta_corriente_adicional"]
    + data["mcuenta_corriente"]
    + data["mcaja_ahorro_adicional"]
    + data["mcaja_ahorro_dolares"]
    + data["mcaja_ahorro"]
)

In [102]:
data.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria,acciones_por_caja,cantidad_seguros,cantidad_tarjetas_credito,mtarjeta_credito_consumo,ctarjeta_credito_transacciones,ccuentas,mcuentas
0,31115668,202101,1,0,0,56,132,1897.12,24324.75,940.32,...,0.0,1337.22,CONTINUA,0,2,2,18435.59,1,3,85151.91
1,31115678,202101,1,0,0,48,100,-384.72,33860.45,-515.53,...,NaN,NaN,CONTINUA,0,0,0,0.00,0,3,9851.83
2,31117415,202101,1,0,0,60,53,-3622.66,-21310.32,2442.04,...,0.0,20011.38,CONTINUA,0,0,2,28730.18,9,3,11665.77
3,31117711,202101,1,0,0,46,273,14542.05,125727.99,1037.77,...,0.0,1302.03,CONTINUA,2,2,2,7713.08,4,3,283457.76
4,31118145,202101,1,0,0,47,192,1868.27,37305.29,1496.68,...,0.0,4680.27,CONTINUA,0,0,2,6323.25,1,3,23079.79

# Tarjetas de debito

Hay algo muy extraño con la cantidad de tarjetas de debito, hay 4 clientes que tienen 301 un tarjetas, reemplazaremos dicha cantidad por el valor modal

In [103]:
data.loc[data.ctarjeta_debito > 6, [
    "ctarjeta_debito",
    "ctarjeta_debito_transacciones",
    "mautoservicio"
]] = 1

# Prestamos

In [104]:
data["cprestamos"] = (
    data["cprestamos_personales"]
    + data["cprestamos_prendarios"]
    + data["cprestamos_hipotecarios"]
)

data["mprestamos"] = (
    data["mprestamos_personales"]
    + data["mprestamos_prendarios"]
    + data["mprestamos_hipotecarios"]
)

In [105]:
data

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,clase_ternaria,acciones_por_caja,cantidad_seguros,cantidad_tarjetas_credito,mtarjeta_credito_consumo,ctarjeta_credito_transacciones,ccuentas,mcuentas,cprestamos,mprestamos
0,31115668,202101,1,0,0,56,132,1897.12,24324.75,940.32,...,CONTINUA,0,2,2,18435.59,1,3,85151.91,0,0.00
1,31115678,202101,1,0,0,48,100,-384.72,33860.45,-515.53,...,CONTINUA,0,0,0,0.00,0,3,9851.83,1,139299.38
2,31117415,202101,1,0,0,60,53,-3622.66,-21310.32,2442.04,...,CONTINUA,0,0,2,28730.18,9,3,11665.77,0,0.00
3,31117711,202101,1,0,0,46,273,14542.05,125727.99,1037.77,...,CONTINUA,2,2,2,7713.08,4,3,283457.76,1,3399768.26
4,31118145,202101,1,0,0,47,192,1868.27,37305.29,1496.68,...,CONTINUA,0,0,2,6323.25,1,3,23079.79,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813208,213259882,202105,0,0,0,62,1,0.00,0.00,0.00,...,NaN,0,0,2,0.00,0,3,0.00,0,0.00
813209,213268725,202105,0,0,0,29,1,0.00,0.00,0.00,...,NaN,0,0,2,0.00,0,3,0.00,0,0.00
813210,213268755,202105,1,0,0,24,1,-61.67,-740.04,0.00,...,NaN,0,0,2,6604.56,4,3,0.00,0,0.00
813211,213271755,202105,0,0,0,24,1,0.00,0.00,0.00,...,NaN,0,0,2,0.00,0,3,0.00,0,0.00
813212,213273561,202105,1,0,0,30,1,0.73,8.76,0.00,...,NaN,0,0,2,0.00,0,3,-27.11,0,0.00

# Plazos fijos

In [106]:
data["mplazo_fijo"] = (
    data["mplazo_fijo_dolares"]
    + data["mplazo_fijo_pesos"]
)

# Payroll

In [107]:
data["mpayroll"] = (
    data["mpayroll"]
    + data["mpayroll2"]
)
data["cpayroll_trx"] = (
    data["cpayroll_trx"]
    + data["cpayroll2_trx"]
)

# Debitos automáticos

In [108]:
data["ccuenta_debitos_automaticos"] = (
    data["ccuenta_debitos_automaticos"]
    + data["ctarjeta_visa_debitos_automaticos"]
    + data["ctarjeta_master_debitos_automaticos"]
)

data["mcuenta_debitos_automaticos"] = (
    data["mcuenta_debitos_automaticos"]
    + data["mttarjeta_visa_debitos_automaticos"]
    + data["mttarjeta_master_debitos_automaticos"]
)

# Pago de servicios

In [109]:
data["cpagodeservicios"] = (
    data["cpagodeservicios"]
    + data["cpagomiscuentas"]
)


data["mpagodeservicios"] = (
    data["mpagodeservicios"]
    + data["mpagomiscuentas"]
)

# Descuentos

In [110]:
data["cdescuentos"] = (
    data["ccajeros_propios_descuentos"]
    + data["ctarjeta_visa_descuentos"]
    + data["ctarjeta_master_descuentos"]
)

data["mdescuentos"] = (
    data["mcajeros_propios_descuentos"]
    + data["mtarjeta_visa_descuentos"]
    + data["mtarjeta_master_descuentos"]
)

# Comisiones

In [111]:
data["ccomisiones"] = (
    data["ccomisiones_mantenimiento"]
    + data["ccomisiones_otras"]
)

data["mcomisiones"] = (
    data["mcomisiones_mantenimiento"]
    + data["mcomisiones_otras"]
)

In [112]:
# Corregimos status
import numpy as np

def fix_credit_status(status):
    if np.isnan(status):
        return status
    if status == 0:
        return status
    if status == 6:
        return 1
    if status == 7:
        return 2
    if status == 9:
        return 3
    raise NotImplementedError(f"Hay un status {status} diferente a la documentacion")

data["Master_status"] = data["Master_status"].apply(fix_credit_status)
data["Visa_status"] = data["Visa_status"].apply(fix_credit_status)

# Visa Morosidad y Otros

In [113]:
def delinquency(delinquency_status_visa, deliquency_status_master):
    if np.isnan(delinquency_status_visa):
        return deliquency_status_master
    if np.isnan(deliquency_status_master):
        return delinquency_status_visa
    return int(delinquency_status_visa or deliquency_status_master)

In [114]:
# Al final no usamos dicha columna
"""data["delinquency"] = data[["Visa_delinquency", "Master_delinquency"]].apply(
    lambda row: delinquency(row["Visa_delinquency"], row["Master_delinquency"]), axis = 1
)
"""

In [115]:
data.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,ctarjeta_credito_transacciones,ccuentas,mcuentas,cprestamos,mprestamos,mplazo_fijo,cdescuentos,mdescuentos,ccomisiones,delinquency
0,31115668,202101,1,0,0,56,132,1897.12,24324.75,940.32,...,1,3,85151.91,0,0.00,0.0,0,0.0,13,0.0
1,31115678,202101,1,0,0,48,100,-384.72,33860.45,-515.53,...,0,3,9851.83,1,139299.38,0.0,0,0.0,10,NaN
2,31117415,202101,1,0,0,60,53,-3622.66,-21310.32,4064.85,...,9,3,11665.77,0,0.00,0.0,0,0.0,9,0.0
3,31117711,202101,1,0,0,46,273,14542.05,125727.99,1037.77,...,4,3,283457.76,1,3399768.26,0.0,0,0.0,10,0.0
4,31118145,202101,1,0,0,47,192,1868.27,37305.29,2861.62,...,1,3,23079.79,0,0.00,0.0,0,0.0,15,0.0

In [79]:
def check_negative(data_col):
    try:
        return (data_col < 0).any()
    except TypeError:
        return False

def split_in_negative_and_positive(x):
    if x <= 0:
        return abs(x), 0
    return 0, x

def fix_negative_and_positive(data: pd.DataFrame):
    cols_with_negatives = [col for col in data.columns if check_negative(data[col])]
    for col in cols_with_negatives:
        data[f"{col}_negative"], data[f"{col}_postive"] = zip(*data[col].map(split_in_negative_and_positive))
        data = data.drop(columns = col)
    return data

In [118]:
# Hacemos un split en positivo/negativo
data = fix_negative_and_positive(data)

In [121]:
def _create_ratios_monto_cantidad(monto, cantidad):
    if monto == 0 or cantidad == 0:
        return 0
    return monto/cantidad

def create_ratios_monto_cantidad(data: pd.DataFrame):
    montos_columns = [c for c in data.columns if c.startswith("m") and "negative" not in c and "positive" not in c]
    for monto_col in montos_columns:
        try:
            data[f"ratio_{monto_col[1:]}"] = data[[monto_col, "c"+monto_col[1:]]].apply(
                                lambda row: _create_ratios_monto_cantidad(row[monto_col], row["c"+monto_col[1:]]), axis = 1)
        except KeyError:
            continue
    return data

In [122]:
data = create_ratios_monto_cantidad(data)

In [123]:
data_ratio = pd.read_csv("data_clean_with_ratios.csv")

C:\Users\andre\AppData\Local\Temp\ipykernel_6416\378958011.py:1: DtypeWarning: Columns (115) have mixed types. Specify dtype option on import or set low_memory=False.
  data_ratio = pd.read_csv("data_clean_with_ratios.csv")

# Correccion por inflación

In [126]:
def corregir_inflacion(data):
    inflacion_marzo_mayo = (1.041)*(1.033)
    monto_columns = [c for c in data.columns if c.startswith("m") and "negative" not in c and "positive" not in c]
    for col in monto_columns:
        data.loc[data["foto_mes"] == 202105, col] = data.loc[data["foto_mes"] == 202105, col]/inflacion_marzo_mayo
    return data

In [127]:
data = corregir_inflacion(data)

# Mas Variables


## Proporciones

In [128]:
# Limite de compra total
data["mlimitecompra"] = data["Master_mlimitecompra"] + data["Visa_mlimitecompra"]
# Financiacion Limite
data["mfinanciacion_limite"] = data["Master_mfinanciacion_limite"] + data["Visa_mfinanciacion_limite"]
# Totalessaldo  credito
data["credito_msaldototal_negative"] = data["Master_msaldototal_negative"] + data["Visa_msaldototal_negative"]
data["credito_msaldototal_postive"] = data["Master_msaldototal_postive"] + data["Visa_msaldototal_postive"]
# Totales consumos
#data["credito_mconsumototal_negative"] = data["Visa_mconsumototal_negative"] + data["Master_mconsumototal_negative"]

In [129]:
def ratio(A, B):
    if A == 0 or B == 0:
        return 0
    return A/B

data["Master_mlimitecompra_ratio"] = data[["mlimitecompra", "Master_mlimitecompra"]].apply(
                lambda row: ratio(row["Master_mlimitecompra"], row["mlimitecompra"]), axis = 1)


data["Visa_mlimitecompra_ratio"] = data[["mlimitecompra", "Visa_mlimitecompra"]].apply(
                lambda row: ratio(row["Visa_mlimitecompra"], row["mlimitecompra"]), axis = 1)


data["payroll_financiacion_ratio"] = data[["mpayroll_total", "mfinanciacion_limite"]].apply(
                lambda row: ratio(row["mpayroll_total"], row["mfinanciacion_limite"]), axis = 1)

data["payroll_limitecompra_ratio"] = data[["mpayroll_total", "mlimitecompra"]].apply(
                lambda row: ratio(row["mpayroll_total"], row["mlimitecompra"]), axis = 1)

data["cuentassaldo_limitecompra_ratio"] = data[["mcuentas_saldo_postive", "mlimitecompra"]].apply(
                lambda row: ratio(row["mcuentas_saldo_postive"], row["mlimitecompra"]), axis = 1)


data["Visaconsumo_limitecompra_ratio"] = data[["mtarjeta_visa_consumo", "mlimitecompra"]].apply(
                lambda row: ratio(row["mtarjeta_visa_consumo"], row["mlimitecompra"]), axis = 1)


data["Masterconsumo_limitecompra_ratio"] = data[["mtarjeta_master_consumo", "mlimitecompra"]].apply(
                lambda row: ratio(row["mtarjeta_master_consumo"], row["mlimitecompra"]), axis = 1)


data["Masterconsumo_consumototal_ratio"] = data[["mtarjeta_master_consumo", "mtarjeta_credito_consumo"]].apply(
                lambda row: ratio(row["mtarjeta_master_consumo"], row["mtarjeta_credito_consumo"]), axis = 1)


data["Visaconsumo_consumototal_ratio"] = data[["mtarjeta_visa_consumo", "mtarjeta_credito_consumo"]].apply(
                lambda row: ratio(row["mtarjeta_visa_consumo"], row["mtarjeta_credito_consumo"]), axis = 1)


data["Masterconsumo_consumototal_ratio"] = data[["mtarjeta_master_consumo", "mtarjeta_credito_consumo"]].apply(
                lambda row: ratio(row["mtarjeta_master_consumo"], row["mtarjeta_credito_consumo"]), axis = 1)


data["Visaconsumo_consumototal_ratio"] = data[["mtarjeta_visa_consumo", "mtarjeta_credito_consumo"]].apply(
                lambda row: ratio(row["mtarjeta_visa_consumo"], row["mtarjeta_credito_consumo"]), axis = 1)

data["comisiones_descuentos_ratio"] = data[["mdescuentos", "mcomisiones_postive"]].apply(
                lambda row: ratio(row["mdescuentos"], row["mcomisiones_postive"]), axis = 1)

In [131]:
# Cliente Antiguedad
data["antiguo"] = data["cliente_antiguedad"].apply(lambda x : 1 if x >= 60 else 0)

In [132]:
# Rangos Etarios
def rango_etario(x):
    if x < 30:
        return 0
    if 30 <= x < 60:
        return 1
    return 2

data["rango_etario"] = data["cliente_edad"].apply(rango_etario)

In [133]:
data["vida_en_el_banco"] = np.ceil(data["cliente_antiguedad"]/12).astype(int)/(data["cliente_edad"] - 17)

In [134]:
# Payroll
data["mpayroll_total"] = data["mpayroll"] + data["mpayroll2"]
data["cpayroll_trx_total"] = data["cpayroll_trx"] + data["cpayroll2_trx"]

In [149]:
def cliente_peligroso(transac, saldo_negative):
    if transac >= 10 and saldo_negative > 0:
        return 1
    return 0

    
def cliente_usual(transac, saldo_positive):
    if transac >= 20 and saldo_positive > 0:
        return 1
    return 0
        
data["cliente_peligroso"] = data[["ctrx_quarter", "mcuentas_saldo_negative"]].apply(
                        lambda row: cliente_peligroso(row["ctrx_quarter"], row["mcuentas_saldo_negative"]), axis = 1)


data["cliente_usual"] = data[["ctrx_quarter", "mcuentas_saldo_postive"]].apply(
                        lambda row: cliente_peligroso(row["ctrx_quarter"], row["mcuentas_saldo_postive"]), axis = 1)

In [150]:
data["cliente_peligroso2"] = data[["ctrx_quarter", "ccheques_emitidos_rechazados"]].apply(
                        lambda row: cliente_peligroso(row["ctrx_quarter"], row["ccheques_emitidos_rechazados"]), axis = 1)

In [151]:
def jovenes_exitosos(edad, payroll):
    return 1 if (edad <= 30 and payroll >= 300000) else 0

data["jovenes_exitosos"] = data[["cliente_edad", "mpayroll_total"]].apply(
                        lambda row: jovenes_exitosos(row["cliente_edad"], row["mpayroll_total"]), axis = 1)

In [164]:
# Payroll/ limitecompra
data["mpayroll_Visa_limite_ratio"] = data[["mpayroll", "Visa_mlimitecompra"]].apply(
                lambda row: ratio(row["mpayroll"], row["Visa_mlimitecompra"]), axis = 1)


data["mpayroll_Master_limite_ratio"] = data[["mpayroll", "Master_mlimitecompra"]].apply(
                lambda row: ratio(row["mpayroll"], row["Master_mlimitecompra"]), axis = 1)


data["mpagominimo_Visa_msaldototal_ratio"] = data[["Visa_mpagominimo", "Visa_msaldototal_postive"]].apply(
                lambda row: ratio(row["Visa_mpagominimo"], row["Visa_msaldototal_postive"]), axis = 1)


data["mpagominimo_Master_msaldototal_ratio"]  = data[["Master_mpagominimo", "Master_msaldototal_postive"]].apply(
                lambda row: ratio(row["Master_mpagominimo"], row["Master_msaldototal_postive"]), axis = 1)


data["madelantopesos_Visa_msaldototal_ratio"] = data[["Visa_madelantopesos", "Visa_msaldototal_postive"]].apply(
                lambda row: ratio(row["Visa_madelantopesos"], row["Visa_msaldototal_postive"]), axis = 1)


#data["madelantopesos_Master_msaldototal_ratio"] = data[["Master_madelantopesos", "Master_msaldototal_postive"]].apply(
 #               lambda row: ratio(row["Master_madelantopesos"], row["Master_msaldototal_postive"]), axis = 1)



#data["madelantopesos_Master_mpayroll"] = data[["Master_madelantopesos", "mpayroll"]].apply(
 #               lambda row: ratio(row["Master_madelantopesos"], row["mpayroll"]), axis = 1)



#data["madelantopesos_Visa_mpayroll"] = data[["Visa_madelantopesos", "mpayroll"]].apply(
 #               lambda row: ratio(row["Visa_madelantopesos"], row["mpayroll"]), axis = 1)

In [165]:
data["todo_lo_negativo"] = data[[c for c in data.columns if "negative" in c]].sum(axis = 1)

In [166]:
data.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,cproductos,tcuentas,ccuenta_corriente,...,cliente_usual,cliente_peligroso2,jovenes_exitosos,mpayroll_Visa_limite_ratio,mpayroll_Master_limite_ratio,mpagominimo_Visa_msaldototal_ratio,mpagominimo_Master_msaldototal_ratio,madelantopesos_Visa_msaldototal_ratio,madelantopesos_Visa_mpayroll,todo_lo_negativo
0,31115668,202101,1,0,0,56,132,10,1,1,...,1,0,0,2.160022,2.160022,0.082384,0.000000,0.0,0.0,16738.44
1,31115678,202101,1,0,0,48,100,5,1,1,...,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1435.60
2,31117415,202101,1,0,0,60,53,6,1,1,...,1,0,0,0.000000,0.000000,0.609946,0.015763,0.0,0.0,64200.55
3,31117711,202101,1,0,0,46,273,10,1,1,...,1,0,0,0.165152,0.165152,0.180777,0.000000,0.0,0.0,9832.94
4,31118145,202101,1,0,0,47,192,7,1,1,...,1,0,0,0.000000,0.000000,0.511628,0.000000,0.0,0.0,11.71

In [167]:
data["tiene_ahorros"] = data["mcaja_ahorro_postive"].apply(lambda x: 1 if x >0 else 0)

In [169]:
data["mpayrolltotal_ctrx_quarter_ratio"] = data[["mpayroll_total", "ctrx_quarter"]].apply(
                lambda row: ratio(row["mpayroll_total"], row["ctrx_quarter"]), axis = 1)

In [170]:
data["mahorro_payroll_ratio"] = data[["mcaja_ahorro_postive", "mpayroll_total"]].apply(
                lambda row: ratio(row["mcaja_ahorro_postive"], row["mpayroll_total"]), axis = 1)

In [171]:
mask_marzo =  data.foto_mes == 202103
mask_mayo = data.foto_mes == 202105


data.loc[mask_marzo, "mpayroll_total_ranked"] = data.loc[mask_marzo, "mpayroll_total"].rank(method = "dense", pct = True)
data.loc[mask_mayo, "mpayroll_total_ranked"] = data.loc[mask_mayo, "mpayroll_total"].rank(method = "dense", pct = True)

In [172]:
data.loc[mask_marzo, "mtarjeta_credito_consumo_ranked"] = data.loc[mask_marzo, "mtarjeta_credito_consumo"].rank(method = "dense", pct = True)
data.loc[mask_mayo, "mtarjeta_credito_consumo_ranked"] = data.loc[mask_mayo, "mtarjeta_credito_consumo"].rank(method = "dense", pct = True)

data.loc[mask_marzo, "mtarjeta_visa_consumo_ranked"] = data.loc[mask_marzo, "mtarjeta_visa_consumo"].rank(method = "dense", pct = True)
data.loc[mask_mayo, "mtarjeta_visa_consumo_ranked"] = data.loc[mask_mayo, "mtarjeta_visa_consumo"].rank(method = "dense", pct = True)


data.loc[mask_marzo, "mtarjeta_master_consumo_ranked"] = data.loc[mask_marzo, "mtarjeta_master_consumo"].rank(method = "dense", pct = True)
data.loc[mask_mayo, "mtarjeta_master_consumo_ranked"] = data.loc[mask_mayo, "mtarjeta_master_consumo"].rank(method = "dense", pct = True)

In [185]:
data["saldo_ctrx_quarter_ratio"] = data[["mcuentas_saldo_postive", "ctrx_quarter"]].apply(
                lambda row: ratio(row["mcuentas_saldo_postive"], row["ctrx_quarter"]), axis = 1)


data["comision_ctrx_quarter_ratio"] = data[["mcomisiones_postive", "ctrx_quarter"]].apply(
                lambda row: ratio(row["mcomisiones_postive"], row["ctrx_quarter"]), axis = 1)

data["mpasivos_margen_ctrx_quarter_ratio"] = data[["mpasivos_margen_postive", "ctrx_quarter"]].apply(
                lambda row: ratio(row["mpasivos_margen_postive"], row["ctrx_quarter"]), axis = 1)


data["mpasivos_margen_saldo_ratio"] = data[["mpasivos_margen_postive", "mcuentas_saldo_postive"]].apply(
                lambda row: ratio(row["mpasivos_margen_postive"], row["mcuentas_saldo_postive"]), axis = 1)

In [186]:
def new_ctrx_quarter(ctrx_q, cliente_ant):
    if cliente_ant == 1:
        return 3*ctrx_q
    if cliente_ant == 2:
        return ctrx_q + ctrx_q/2
    return ctrx_q

In [187]:
data["new_ctrx_quarter"] = data[["ctrx_quarter", "cliente_antiguedad"]].apply(
            lambda x: new_ctrx_quarter(x["ctrx_quarter"], x["cliente_antiguedad"]), axis = 1)

In [189]:
# Este es el output que va a kagle
data.to_csv("data_clean_237_vars.csv", index = False)